[submodule "packages/pocketcasts"]
	path = packages/pocketcasts
	url = https://github.com/balu-/Pocket-Casts

[submodule "packages/Pocket-Casts"]
	path = packages/pocketcasts
	url = https://github.com/balu-/Pocket-Casts
